.BldControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BldControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BldControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BldControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.BldLabel {
    padding: 8px;
    font-weight: bold;
    width: 80px;
}

.BldControl .Less {
    background-color: #D39952;
    color: white;
    box-shadow: 2px 2px 2px #8F5E1E;
}

.BldControl .More {
    background-color: #8F5E1E;
    color: white;
    box-shadow: 2px 2px 2px #6F5E1E;
}

.BldControl .Less:hover, .BldControl .Less:active {
    background-color: #DAA972;
    color: white;
}

.BldControl .More:hover, .BuildControl .More:active {
    background-color: #99703F;
    color: white;
}